.container {
  max-width: 1275px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.c-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: brown;
  justify-content: flex-start;
  align-self: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circle-icon {
  background-color: wheat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
}

.btn {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--accent-color-brightness);
  border-radius: 20px;
  padding: 12px 100px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.divider-solid {
  border-top: 3px solid black;
}

.btn .btn-facebook-signup {
  color: #ffffff;
}

.center {
  text-align: center;
}

/* TextSizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 0.75rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

/* Backgrounds & colored buttons */
.bg-primary {
  background-color: var(--primary-color);
}

.bg-dark {
  background-color: var(--dark-color);
}

.text-accent {
  color: var(--accent-color);
}

.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

/* FontWeights */
.fw-bold {
  font-weight: bold;
}

/* LineHeights */
.lh-1 {
  line-height: 1;
}

/* TextAlignments */
.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Text utilities */
.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-light {
  font-weight: lighter;
}

.font-italic {
  font-weight: italic;
}
